
<div class="col-md-12">
<table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Author</th>
          <th>Left</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      	<% @books.each do |f| %>
        <tr>
          <th scope="row"><%= f.id %></th>
          <td><%= f.name %></td>
          <td><%= f.writer %></td>
          <td><%= f.left %></td>
          
          <td class = 'col-md-1'>
          <% if is_admin? %>
            <form class="form-horizontal" action="/account/borrow#create" method="post" >
              <%= token_tag nil %>
              <input type='hidden' name='book_id' value = '<%= f.id %>'>
              <button type='Submit' class = 'btn btn-primary'>Borrow</button>
            </form>
          <% end %>
          </td>

          <% if is_admin? %>
            <td class = 'col-md-1'>
              <form class="form-horizontal" action='/account/borrow/delete_borrow/<%=f.id%>' method="post" >
                <%= token_tag nil %>
                <input type='hidden' name='book_id' value = '<%= f.id %>'>
                <button type='Submit' class = 'btn btn-primary'>Return</button>
              </form>
            </td>
            <td class = 'col-md-1'>
              <form class="form-horizontal" action='/books/edit/<%=f.id%>' method="post" >
                <%= token_tag nil %>
                <input type='hidden' name='book_id' value = '<%= f.id %>'>
                <button type='Submit' class = 'btn btn-primary'>Edit</button>
              </form>
            </td>
            <td class = 'col-md-1'>
              <form class="form-horizontal" action='/books/destroy/<%=f.id%>' method="post" >
                <%= token_tag nil %>
                <input type='hidden' name='book_id' value = '<%= f.id %>'>
                <button type='Submit' class = 'btn btn-primary'>Delete</button>
              </form>
            </td>
          <% else %>
            <td class = 'col-md-1'></td>
          <% end %>

        </tr>
        <% end %>
      </tbody>
    </table>
</div>

<% if is_admin? %>
  <%= link_to 'Create', new_book_path, class: 'btn btn-primary' %>
<% end %>


